@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap"); 

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  background-color: hsl(219, 4%, 4%);
  color:  hsl(216, 2%, 58%);
  
}

h1, h2, h3 {
  color: hsl(219, 8%, 95%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section_title {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape{
    background-color: rgba(46, 67, 107, 0.5);
    filter: blur(112px);
    border-radius: 50%;
}

.shape_big{
    width: 400px;
    height: 400px;
}

.shape_small{
    width: 300px;
    height: 300px;
}

.shape_smaller{
    width: 180px;
    height: 180px;
    filter: blur(64px);
}
/*=============== HEADER & NAV ===============*/
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index:  100;
}

.nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_logo,
.nav_toggle{
    color: hsl(219, 8%, 95%);
    display: inline-flex;
}

.nav_logo{
    align-items: center;
    column-gap: .25rem;
    font-weight: 500;
    transition: .3s;
    
}

.nav_logo i{
    font-size: 2.5rem;

}
.nav_logo:hover{
    color: hsl(219, 76%, 39%);

}

.nav_toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        background-color: hsla(0,0%, 100%, .1);
        top:0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: .3s;
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav_link{
    text-transform: uppercase;
    color: hsl(219, 8%, 95%);
    font-size:  1.25rem;
    font-weight: 500;
    transition: .3s;
}

.nav_link:hover{
    color: hsl(219, 76%, 39%);
}

.nav_close{
    font-size: 2rem;
    color:  #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* Show menu */
.show-menu{
    right: 0;
}


/* Change background header */
.scroll-header{
    border-radius:  0 0 1rem 1rem;
    background-color: hsl(219, 4%, 4%);
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active link */


/*=============== HOME ===============*/
.home{
    position: relative;
    overflow: hidden;
}

.home_container{
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;
}

.home_data{
    text-align: center;
}

.home_title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home_subtitle{
    font-size: 1rem;
    margin-bottom: .25rem;
}

.home_electric{
    font-size: .813rem;
    font-weight: 400;
    color: hsl(219, 8%, 95%);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.home_electric i{
    color: hsl(219, 76%, 39%);
}


.home-pic{
    width: 100%;
    height: 100%;
    justify-self: center;
}



.home_car{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}

.home_car-name{
    font-size: .625rem;
    font-weight: 400;
    color:  hsl(219, 4%, 55%);;
}

.home_car-data{
    text-align: center;
}

.home_car-number{
    font-size:  1.25rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

.home_car-icon{
    background-color:  hsl(219, 4%, 7%);
    border-radius: 50%;
    padding: .376rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    margin-bottom: .25rem;
}

.home_button{
    position: relative;
    border: 2px solid hsl(158, 89%, 30%);
    width: 70px;
    height: 70px;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: .813rem;
    color:  #fff;
    font-weight: 500;
}

.home_button::before{
    content: '';
    border: 2px solid hsl(158, 98%, 43%);
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px hsl(158, 98%, 43%);
    transition: .3s;
    animation: button 3s infinite;
}

.home .shape_big,
.home .shape_small{
    position: absolute;
}

.home .shape_big{
    left: -9rem;
    top: -4rem;
}

.home .shape_small{
    right: -10rem;
    bottom: 3rem;
}


/* Button animate */
@keyframes button {
    0%{
        box-shadow: 0 0 12px hsl(158, 98%, 43%);
    }
    50%{
        box-shadow: 0 0 12px hsl(158, 98%, 43%);
    }

}

/*=============== BUTTON ===============*/
.button{
    display: inline-block;
    background-color: hsl(219, 76%, 39%);
    
    color: white;
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-size: .938rem;
    transition: .3s;
}

.button:hover{
    background-color:hsl(219, 73%, 42%);
}

/*=============== ABOUT ===============*/
.about_container{
    row-gap: 6rem;
}

.about_group{
    position: relative;
}

.about_img{
    width: 310px;
    border-radius: .5rem;
}

.about_card{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    padding: 1rem .75rem;
    text-align: center;
    border-radius: 1.25rem;
}

.about_card-title{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.about_card-description{
    font-size: .75rem;
}

.about_title{
    text-align: initial;
    margin-bottom: 2rem;
}

.about_description{
    margin-bottom: 2rem;
}


/*=============== POPULAR ===============*/
.popular_container{
    padding: 1rem;
}

.popular_card{
    position: relative;
    width: 238px;
    background-color: hsl(219, 4%, 7%);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 3.5rem;
    overflow: hidden;
   
}

.popular_card .shape_smaller{
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;

}

.popular_title,
.popular_subtitle,
.popular_img{
    position: relative;
}

.popular_title{
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.popular_subtitle{
    font-size: .938rem;
    color: hsl(219, 8%, 75%);
    font-weight: 400;
}

.popular_img{
    width: 160px;
    margin: .75rem 0 1.25rem 1.5rem;
    transition: .3s;
}

.popular_data{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .5rem 1.25rem;
    margin-bottom: 2rem;
}

.popular_data-group{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: .75rem;
    color: #fff;
}


.popular_data i{
    font-size: 1rem;
}

.popular_price{
    font-size: 1rem;
}

.popular_button{
    border: none;
    outline: none;
    padding: 0rem 1.5rem;
    position: absolute;
    right:0;
    left: 0;
    border-radius: 0 1rem  ;
    cursor: pointer;
    background-color: hsl(219, 73%, 42%);
}

.popular_button i{
    font-size: 1.25rem;
}

.popular_card:hover .popular_img{
    transform: translateY(-.25rem);
}



/*=============== FEATURES ===============*/
.features{
    overflow: hidden;
    position: relative;
}

.features_container{
    padding-top: 2rem;
    grid-template-columns: 285px;
    justify-content: center;
}

.features_group{
    display: grid;
    position: relative;
    z-index: 10;
}

.features_img{
    width: 150px;
    justify-self: center;
}

.features_card{
    width: 112px;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: .75rem 2rem;
    text-align: center;
    color: hsl(219, 8%, 95%);
    position: absolute;
}

.features_card-1{
    top: 4rem;
    left: 1.5rem;
}
.features_card-2{
    top: 8rem;
    right: 1rem;
}

.features_card-3{
    left: 1.5rem;
    bottom: 2rem;
}

.features_card-title{
    font-size: 1rem;
    margin-bottom: .25rem;
}

.features_card-description{
    font-size: .75rem;
}



/*=============== FEATURED ===============*/
.featured_container{
    padding-top: 1rem;
}

.featured_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

.featured_item{
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    padding: .75rem;
    border-radius: .75rem;
    background-color: hsl(219, 4%, 7%);
    color: white;
    font-size: .938rem;
    cursor: pointer;
    transition: .3s;
}


.featured_item img{
    width: 1.5rem;
}

.featured_item span,
.featured_item img{
    opacity: .3;
    transition: .3s;
}

.featured_item:hover{
    background-color: hsl(219, 69%, 56%);
}

.featured_item:hover span,
.featured_item:hover img{
    opacity: 1;
}

.featured_content{
    grid-template-columns: 228px;
    row-gap: 2.5rem;
    justify-content: center;
}

.featured_card{
    position: relative;
    background-color: hsl(219, 4%, 7%);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.featured_card .shape_smaller{
    position: absolute;
    margin:auto;
}

.featured_title,
.featured_subtitle,
.featured_img{
    position: relative;
}

.featured_title{
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.featured_subtitle{
    font-size: .938rem;
    color: hsl(219, 8%, 75%);
    font-weight: 400;
}

.featured_img{
    width: 180px;
    margin: 1.5rem 0;
    transition: .3s;
}

.featured_price{
    font-size: 1rem;
}

.featured_button {
    border: none;
    outline: none;
    padding: 0rem 1.5rem;
    position: absolute;
    right:0;
    left: 0;
    border-radius: 0 1rem  ;
    cursor: pointer;
    background-color: hsl(219, 73%, 42%);
}

.featured_button i{
    font-size: 1.25rem;
}

.featured_card:hover .featured_img{
    transform: translateX(-.25rem);
}


/*=============== FOOTER ===============*/
.footer{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.footer .shape_big,
.footer .shape_small{
    position: absolute;
}

.footer .shape_big{
    width: 300px;
    height: 300px;
    left: -12rem;
    top: 6rem;
}

.footer .shape_small{
    right: -13rem;
    bottom: -6rem;
}

.footer_container{
    row-gap: 2.5rem;
    position: relative;
}

.footer_logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: hsl(219, 8%, 95%);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    transition: .3s;
}

.footer_logo i{
    font-size: 1.5rem;
    font-weight: 500;
    
}

.footer_logo:hover{
    color:hsl(219, 69%, 56%);
}

.footer_title{
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.footer_links{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer_link,
.footer_social-link{
    color: hsl(219, 8%, 75%);
    transition: .3s;
}

.footer_link:hover,
.footer_social-link:hover{
    color:hsl(219, 8%, 75%);
}

.footer_social{
    display: flex;
    margin-left: 4.3rem;
}

.footer_social-link{
    font-size: 1.25rem;
}
.footer_copy{
    display: block;
    margin-top: 4.5rem;
    text-align: center;
    font-size: .75rem;
    color: hsl(219, 4%, 55%);
}

/*=============== Contact ===============*/
.contact
{
    position: relative;
    min-height: 0;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    
}
.contact p{
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.container1
{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container1 .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container1 .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container1 .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
}

.contactForm h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #4a0fe0;
    font-size: 12px;
    transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 400px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home_car{
        column-gap: 2rem;
    }

    .about_card{
        width: 150px;
    }
    .footer_container{
        
        text-align: center;
    }
    .footer_social{
        margin-left: 3.4rem;
    }

    .contact
    {
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactForm{
        margin-bottom: 40px;
    }
    .container1 .contactInfo,
    .contactForm
    {
        width: 100%;
    }

}

/* For medium devices */
@media  screen and (min-width: 576px){
    .about_group{
        width: 350px;
        justify-self: center;
    }
    .featured_content{
        grid-template-columns: repeat(2,228px);
       
    }
    .footer_container{
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        ;
    }
    .footer_social{
        margin-left: 2.4rem;
    }
    .contact
    {
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactForm{
        margin-bottom: 40px;
    }
   


}

@media screen and (min-width: 800px){
    .section{
        padding: 7rem 0 2rem;
    }

    .nav{
        height: calc(3.5rem + 1.5rem);
    }

    .nav_toggle,
    .nav_close{
        display: none;
    }
    .nav_list{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }
    .nav_link{
        font-size: .938rem;
        text-transform: initial;
    }
    .about_container{
        grid-template-columns: repeat(2 , 1fr);

    }
    .popular_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
        text-align: center;  
        justify-content: center;
    } 
    .footer_social{
        margin-left: 3.4rem;
    }
    
}


/* For large devices */
@media screen and (min-width: 1080px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }


    .shape_big{
        width: 500px;
        height: 500px;
    }

    .shape_small{
        width: 400px;
        height: 400px;
    }

    .home_container{
        padding-top: 2rem;
    }

    .home-pic{
        width: 100%;
    }
    .home_car{
        column-gap: 7rem;
    }
    .home_car-icon{
        font-size: 1.25rem;
        margin-bottom: 0.2rem;
        justify-content: center;
    }

    .about_container{
        column-gap: 6rem;
        align-items: center;
    }

    .about_group,
    .about_img{
        width: 480px;
    }

    .about_card{
        width: 198px;
        padding: 1rem 1.25rem;
    }

    .about_description{
        padding-right: 4rem;
        margin-bottom: 3rem;
    }

    .popular_container{
        width: 875px;
        padding-top: 3rem;
        grid-template-columns: repeat(4, 248px);
        gap: 4rem;  
    }

    .popular_card{
        width: 258px;
        border-radius: 1.25rem;
        margin-bottom: 5rem;
    }

    .popular_img{
        width: 180px;
        margin: .75rem 0 1.25rem 2rem;
    }

    .features_container{
        padding: 2rem 0 3rem;
    }

    .features_img{
        width: 200px;
    }

    .features_card{
        width: 127px;
        padding: .75rem 2.5rem;
    }

    .features_card-1{
        left: -1rem;
    }

    .features_card-2{
        right: -2.5rem;
    }

    .features_card-3{
        bottom: 7rem;
        left: -1rem;
    }

    .featured_container{
        padding-bottom: 2.5rem;
    }

    .featured_filters{
        column-gap: 2rem;
        margin-bottom: 4.5rem;
    }

    .featured_item{
        width: 52px;
        height: 52px;
    }

    .featured_item img{
        width: 2rem;
    }

    .featured_content{
        grid-template-columns: repeat(4, 248px);
        gap: 4rem;
    }

    .footer_container{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr;
        
    }
    .footer_social{
        margin-left: 3rem;
    }
}

