@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape{
    background-color: navy;
    filter: blur(112px);
    border-radius: 50%;
}

.shape__big{
    width: 400px;
    height: 400px;
}

.shape__small{
    width: 300px;
    height: 300px;
}

/*=============== HEADER & NAV ===============*/
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo,
.nav__toggle{
    color: white;
    display: inline-flex;
}

.nav__logo{
    align-items: center;
    column-gap: .25rem;
    font-weight: 500;
    transition: .3s;
}

.nav__logo i{
    font-size: 1.25rem;

}
.nav__logo:hover{
    color: rgb(46, 46, 250);

}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        background-color: rgb(85, 84, 84);
        top:0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: .3s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav__link{
    text-transform: uppercase;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    transition: .3s;
}

.nav__link:hover{
    color: rgb(46, 46, 250);
}

.nav__close{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* Show menu */
.show-menu{
    right: 0;
}


/* Change background header */
.scroll-header{
    border-radius:  0 0 1rem 1rem;
    background-color: black;
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active link */


/*=============== HOME ===============*/
.home{
    position: relative;
    overflow: hidden;
}

.home__container{
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;
}

.home__data{
    text-align: center;
}

.home__title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home__subtitle{
    font-size: 1rem;
    margin-bottom: .25rem;
}

.home__electric{
    font-size: .875rem;
    font-weight: 400;
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.home__electric i{
    color: rgb(46, 46, 250);
}

.home__img{
    width: 280px;
    justify-self: center;
}

.home__car{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}

.home__car-name{
    font-size: .625rem;
    font-weight: 400;
    color: rgb(134, 128, 128);
}

.home__car-data{
    text-align: center;
}

.home__car-number{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

.home__car-icon{
    background-color: black;
    border-radius: 50%;
    padding: .376rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    margin-bottom: .75rem;
}

.home__button{
    position: relative;
    border: 2px solid mediumspringgreen;
    width: 70px;
    height: 70px;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: .813rem;
    color: white;
    font-weight: 500;
}

.home__button::before{
    content: '';
    border: 2px solid mediumspringgreen;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px mediumspringgreen;
    transition: .3s;
    animation: button 3s infinite;
}

.home .shape__big,
.home .shape__small{
    position: absolute;
}

.home .shape__big{
    left: -9rem;
    top: -4rem;
}

.home .shape__small{
    right: -10rem;
    bottom: 3rem;
}


/* Button animate */
@keyframes button {
    0%{
        box-shadow: 0 0 12px mediumspringgreen;
    }
    50%{
        box-shadow: 0 0 12px mediumspringgreen;
    }

}

/*=============== BUTTON ===============*/
.button{
    display: inline-block;
    background-color: rgb(55, 55, 247);
    color: white;
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-size: .938rem;
    transition: .3s;
}

.button:hover{
    background-color: rgb(49, 49, 240);
}

/*=============== ABOUT ===============*/
.about_container{
    row-gap: 6rem;
}

.about_group{
    position: relative;
}

.about_img{
    width: 310px;
    border-radius: .5rem;
}

.about_card{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: rgb(29, 28, 28);
    backdrop-filter: blur(16px);
    padding: 1rem .75rem;
    text-align: center;
    border-radius: 1.25rem;
}

.about_card-title{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.about_card-description{
    font-size: .75rem;
}

.about_title{
    text-align: initial;
    margin-bottom: 2rem;
}

.about_description{
    margin-bottom: 2rem;
}

/*=============== POPULAR ===============*/


/* Swiper class */


/*=============== FEATURES ===============*/


/*=============== FEATURED ===============*/


/* Active link featured */


/*=============== OFFER ===============*/


/*=============== LOGOS ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */